extends layout

block content
  h1 Wishlist
  ul(id='items')
    each item in items
      li(id='item' + item.id data-name=item.name data-priority=item.priority)
        span #{item.name} (Priority #{item.priority})
        br
        em(class='comment') #{item.comment}
        br
        a(href='javascript:client.startEditItem(' + item.id + ')') Edit
        | 
        a(href='javascript:client.deleteItem(' + item.id + ')') Delete
  h1 Add an Item
  form(action='/api/v1/items', method='post')
    p
      span Name:
      br
      input(type='text', name='name')
    p
      span Priority:
      br
      input(type='text', name='priority')
    p
      span Comment:
      br
      input(type='text', name='comment')
    input(type='submit', value='Add Item')
  div(id='editor')
    h1 Edit an Item
    form(action='javascript:client.editItem()')
      p
        span Name:
        br
        input(type='text', name='name', id='editName')
      p
        span Priority:
        br
        input(type='text', name='priority', id='editPriority')
      p
        span Comment:
        br
        input(type='text', name='comment', id='editComment')
      input(type='hidden', name='id', id='editId')
      input(type='submit', value='Edit Item')
      
